#main{
    background-color: aqua;
}
.navbar{
    background-color: #c50e0e;
    width:100vw;
    height: 15vh;
    position: fixed;

}

.kinalat{
    width:22%;
    height:50%
}
.rolunk{
    width:22%;
    height:50%
}
.bejelentkezes{
    width:22%;
    height:50%
}
.kosar{
    width:22%;
    height:50%
}

#footer{
    width:100vw;
    height:15vh;
    background-color: gray;
}