html{
    height: 100%;
    width: 99vw;
    overflow-x: hidden;
}
main{
    background-color: white;
    min-height: 73vh;
    width: 99vw;
    text-align: center;

}
header{
    height: 10vh;
    background-color: #c50e0e;
}

.navbar{
    background-color: #c50e0e;
    width: 99vw;
    min-height: 7vh;
}

footer{
    width: 99vw;
    min-height: 12vh;
    background-color: green;
    color: rgb(211, 210, 209);
}
#ikon{
    width: 5vw;
}

nav>div{
    width: 15%;
    height: 2vh;
}

button{
    width: 14vw;
    background-color: orange;
    border: 2px solid orangered
}
button:hover{
    background-color: orangered;
}

h1{
    color: white;
    text-shadow: 2px 2px gray;
}
h2{
    text-align: center;
    text-decoration: underline;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#kosar{
    width: 15vw;
    min-height: auto;
    float: right;
    border: 2px solid black;
    position: fixed;
    right: 1.5vw;
    top: 18vh;
    box-shadow: 2px 2px gray;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 1vh;
}
#kosarElemek{
    min-height: 30vh;
}
#kosarAr{
    height: 2em;
}
#kosarbanLevoGombok{
    text-align: center;
}
#kosarTorles{
    margin-bottom: 3px;
}
#rendeloTelefon{
    display: block;
}
#rendeloTelefonDisplay{
    display: inline;
}
#kinalat img{
    width: 200px;
    height: 100px;
}
#kinalat div{
    text-align: center;
}
#kinalat p{
    margin: 0.5vh;
}
.kosarba{
    margin-bottom: 5vh;
}
#fooldal p{
    font-size: 20px;
    line-height: 3rem;
}
#loginAblak, #loggedinAblak{
    padding-top: 5vh
}
#rolunk img{
    width: 20vw;
    height: 30vh;
}
#rolunk>p{
    font-size: 20px;
    text-align: justify;
}