main{
    background-color: white;
    min-height: 74vh;
    width: 100vw;

}
header{
    height: 10vh;
    background-color: #c50e0e;
}
#ikon{
    width: 5vw;
}
.navbar{
    background-color: #c50e0e;
    width:100vw;
    height: 5vh;
}

nav>div{
    width: 15%;
    height: 2vh;
}

h1{
    color: white;
    text-shadow: 2px 2px gray;
}
h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3vh;
}

button{
    width: 14vw;
    background-color: orange;
    border: 2px solid orangered
}
button:hover{
    background-color: orangered;
}

footer{
    width: 100vw;
    height: 11vh;
    background-color: green;
}
#kosar{
    width: 15vw;
    height: 55vh;
    float: right;
    border: 2px solid black;
    position: fixed;
    right: 1.5vw;
    top: 16vh;
}
#kosarElemek{
    min-height: 22vh;
}
#rendeloTelefon{
    display: block;
}
#rendeloTelefonDisplay{
    display: inline;
}
.row img{
    width: 200px;
    height: 100px;
}
.row>div{
    text-align: center;
}
.row p{
    margin: 0.5vh;
}
.kosarba{
    margin-bottom: 5vh;
}